body {
  font-family: Arial, sans-serif;
  background-color: #fa3d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80%;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.pokemon-figure {
  flex: 1;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
}

.pokemon-image {
  width: 80%;
  height: auto;
  filter: brightness(0%);
  transition: filter 0.1s ease;
  -webkit-transition: filter 0.1s ease;
  -moz-transition: filter 0.1s ease;
  -ms-transition: filter 0.1s ease;
  -o-transition: filter 0.1s ease;
}

.name-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
